.contact-top{
    text-align: center;
    margin-top: 2%;
}
.send-msg{
    background-color: #9be7ff;
    border: none;
    padding: 1rem;
    border-radius: 10px;
    margin: 2%;
}
.contact-form{
    margin-top: 3%;
}
input{
    height: 30px;
    width: 300px;
    border-radius: 10px;

}
textarea{
    width: 300px;
    height: 100px;
    border-radius: 10px;
}
.contact-footer{
    background-color: black;
    color: white;
    text-align: center;
}
.contact-footer .column {
    float: left;
    width: 33.33%;
    margin-top: 10px;
    
  }
.contact-footer:after {
    content: "";
    display: table;
    clear: both;
  }
.column p{
    margin-top: 10px;
}

@media screen and (max-width: 600px) {
    .column-footer .column {
      width: 100%;
    }
  }