body{
    overflow-x: hidden;
}
.contact-top{
    text-align: center;
    margin-top: 2%;
}
.send-msg{
    background-color: #9be7ff;
    border: none;
    padding: 1rem;
    border-radius: 10px;
    margin: 2%;
}
.contact-form{
    margin-top: 1%;
    
}
.contact-form button{
    font-size: 10px;
}
.contact-form input{
    height: 20px;
    width: 250px;
    border-radius: 20px;
    background-color: rgb(235, 233, 233);
    border: none;
    padding: 0.5rem;
    box-shadow: 2px 3px rgb(33, 33, 33);

}
.contact-form input:focus{
    outline: none;
}
.contact-form textarea{
    width: 250px;
    height: 100px;
    border-radius: 20px;
    background-color: rgb(235, 233, 233);
    border: none;
    padding: 0.5rem;
    box-shadow: 2px 3px rgb(33, 33, 33);
}
.contact-form textarea:focus{
    outline: none;
}
.contact-footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
    
}
.contact-footer .column {
    float: left;
    width: 33.33%;
    margin-top: 10px;
    
  }
.contact-footer:after {
    content: "";
    display: table;
    clear: both;
  }
.column p{
    margin-top: 10px;

}

@media screen and (max-width: 600px) {
    .column-footer .column {
      width: 100%;
    }
  }