.shop-now-button{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.shop-now{
    
    background-color: #9BE7FF;
    border: none;
    cursor: pointer;
    padding: 1.5em;
    border-radius: 10px;
    
}
.header{
    text-align: center;
}
.img-top{
    display: flex;
    
}
.img-top-column{
    
    width: 50%;
    padding: 5px;
    
}
.cat1{
    position: absolute;
    top: 100px;
    left: 30px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 5px;
    
}
.dog3{
    position: absolute;
    top: 100px;
    right: 30px;
    padding: 5px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    
    
}

.dog2{
    position: absolute;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    top: 350px;
    left: 30px;
}
.parrot1{
    position: absolute;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    top: 350px;
    left: 43%;

}
.rabbit1{
    position: absolute;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    top: 350px;
    right: 30px;
    
}
.img-row{
    display: flex;
    
}
.img-column{
    width: 33.33%;
    padding: 5px;
    
}