.shop-now-button{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.shop-now{
    
    background-color: #9BE7FF;
    border: none;
    cursor: pointer;
    padding: 1.5em;
    border-radius: 10px;
    
}
.header{
    text-align: center;
}
.cat1{
    /*position: absolute;*/
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto;
    float: left;
}
.dog3{
    /*position: absolute;*/
    border-radius: 50%;
    width: 200px;
    height: 200px;
    top: 10px;
    float: right;
}

.dog2{
    position: absolute;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    top: 350px;

}
.parrot1{
    position: absolute;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    top: 350px;
   
}
.rabbit1{
    position: absolute;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    top: 350px;
    
}
.img-row{
    display: flex;
}
.img-column{
    width: 33.33%;
    padding: 5px;
}