.home-nav{
    position: sticky;
    top: 0;
    background-color: #9BE7FF;
    text-align: right;
    padding: 20px;

    
}
.petsy-nav {
    float: left;
    text-decoration: none;
    color: black;
    
}
ul{
   list-style-type: none; 
}
.nav-item{
    text-decoration: none;
    display: inline-block;
    margin-right: 3em;
    text-align: right;
    cursor: pointer;
    color: black;
}

