.home-nav{
    position: sticky;
    top: 0;
    background-color: #9BE7FF;
    text-align: right;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
.petsy-nav {
    float: left;
    text-decoration: none;
    color: black;
    align-items: center;
    font-size: 2rem;
    
}
.home-nav ul{
   list-style-type: none;
   display: flex; 
}
.nav-item{
    text-decoration: none;
    display: flex;
    margin-right: 2em;
    text-align: right;
    cursor: pointer;
    color: black;
}

