.sidenav-container{
    height: 400px;
    width: 200px;
    background-color: #9be7ff;
    margin-top: 5%;
    cursor: pointer;
    position: sticky;
    box-shadow: 10px 10px 20px  grey,
    10px 10px 20px rgb(55, 55, 55);
}
.sidenav{
 padding-top: 1rem;
}
.sidenav-items{
    list-style-type: none;
    width: 100%;
    height: 50px;
    margin: 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
   text-align: left;
    
}
.sidenav-items:hover{
    background-color: rgb(235, 233, 233);
}
.sidenav-title{
    text-decoration: none;
    color: black;
    margin-left: 5%;

}

