.sidenav-container{
    height: 400px;
    width: 200px;
    background-color: #9be7ff;
    margin-top: 5%;
    cursor: pointer;
}
.sidenav{
 padding-top: 1rem;
}
.sidenav-items{
    list-style-type: none;
    width: 100%;
    height: 50px;
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sidenav-items:hover{
    background-color: white;
}
#icon{
    flex: 30%;
    display: grid;
    place-items: center;
}
#title{
    flex: 70%;
}