
.our-history{
    display: flex;
    align-items: center;
    background-color: #9be7ff;
    height: 70vh;
    padding: 2rem; 
}
.pet-owner{
    float: right;
    width: 350px;
    height: 400px;
    text-align: right;
    
    
}
.mission{
    display: flex;
    align-items: center;
    height: 70vh;
    padding: 2rem; 
    
}
.mission-text{
    padding-right: 2rem;
}
.history-img{
    float: left;
    width: 350px;
    height: 400px;
    
    
}
.team{
    height: 70vh;
}
.achievements{
    height: 70vh;
    background-color: #9be7ff;
}
.hstry-text{
    text-align: left;
    float: right;
}
.team-container{
    align-items: center;
    display: grid;
    grid-template-columns:33% 33% 33%;

}
.team-image{
    padding: 2rem;
    
}
.team-name{
    font-size: 25px;
}