
.our-history{
    display: flex;
    align-items: center;
    background-color: #9be7ff;
    height: 70vh;
    padding: 2rem; 
}
.img-mission{
    float: right;
    margin-left: 15%;
    
}
.pet-owner{
    
    width: 300px;
    height: 350px;
    border-radius: 10px;   
    box-shadow: 10px 10px 20px  grey,
                10px 10px 20px rgb(55, 55, 55);
}
.mission{
    display: flex;
    align-items: center;
    height: 70vh;
    padding: 2rem; 
    
}
.mission-text{
    margin-left: 3%;
}
.mission-text p{
    margin-top: 3%;
}
.history-img{
    float: left;
    width: 300px;
    height: 350px;
    margin-left: 15%;
    border-radius: 10px;   
    box-shadow: 10px 10px 20px grey,   
                10px 10px 20px rgb(55, 55, 55);    
}
.team{
    height: 70vh;
    padding: 2rem;
}
.achievements{
    height: 70vh;
    background-color: #9be7ff;
    padding: 2rem;
    align-items: center;
}
.hstry-text{
   
   float: right;
   margin-left: 25%;
}
.hstry-text p{
    margin-top: 3%;
}
.team-container{
    align-items: center;
    display: grid;
    grid-template-columns:33% 33% 33%;

}
.team-image{
    padding: 2rem;
    text-align: center;
    
}
.team-name{
    font-size: 25px;
}
.pets-sell{
    height:70vh;
    padding: 2rem;
    
}
.achieve-container{
    align-items: center;
    display: grid;
    grid-template-columns:33% 33% 33%;

}
.achieve{
    padding: 2rem;
    text-align: center;
}
.achieve h1{
    font-size: 40px;
}
.achieve p{
    margin-top: 3%;
    font-size: 20px;
}
.pets-container{
    align-items: center;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 2rem;
}
.pet-image img{   
    box-shadow: 10px 10px 20px grey,
                10px 10px 20px rgb(55, 55, 55);
    border-radius: 10px;    
}

