
.our-history{
    background-color: #9be7ff;
}
.pet-owner{
    float: right;
    width: 350px;
    height: 400px;
    text-align: right;
    
    
}
.mission{
    display: flex;
    align-items: center;
    height: 70vh;
    padding: 2rem; 
    
}
.mission-text{
    padding-right: 2rem;
}
.our-history{
    height: 70vh;
}
.team{
    height: 70vh;
}
.achievements{
    height: 70vh;
    background-color: #9be7ff;
}